<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-4" style="padding-top: 15px;">
            <h2>Widget 1</h2><hr>
            <h3>User Status</h3>            
            <p>Logged In? {{isLoggedIn}}</p>
        </div>
        <div class="col-sm-4" style="padding-top: 15px;">
            <h2>Widget 2</h2><hr>
        </div>
        <div class="col-sm-4" style="padding-top: 15px;">
            <h2>Widget 3</h2><hr>
        </div>
    </div>
</div>